<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
</head>

<body>
    <h1>Shopping Cart</h1>
    <ul>
        {% for item in cart_items %}
        <li>{{ item.name }} - ${{ item.price }}</li>
        <form action="{{ url_for('api.remove_from_cart', product_id=item.id) }}" method="post">
            <button type="submit">Remove from Cart</button>
        </form>
        {% endfor %}
    </ul>
    <p>Total Price: ${{ total_price }}</p>
    <a href="{{ url_for('api.checkout') }}">Checkout</a>
</body>

</html>